<html>
    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <!-- 导航栏 -->
        <!-- 使用include和子模板 -->
        <!-- 将nva.html里面的文件导入到这里 -->
        {% include "nav.html" %}

        {% block content %}{% endblock %}

        <hr />
        <!-- 边栏 -->
        <div class="sidebar">边栏: ...</div>

        <hr />
        <!-- 评论区 -->
        <div class="comment">评论区: ...</div>

        <hr />
        <!-- 推荐区 -->
        <div class="rcmd">推荐区: ...</div>

        <hr />
        <!-- 底栏 -->
        <div class="footer">底栏: ...</div>
    </body>
</html>
